POSTGRESS_DATABASE_HOST=pg-2530fc8b-ks1802276-f8c5.d.aivencloud.com
POSTGRESS_DATABASE_PORT=26027
POSTGRESS_DATABASE_USER=avnadmin
POSTGRESS_DATABASE_PASSWORD=YOUR_AIVEN_PASSWORD
POSTGRESS_DATABASE_NAME=ONEMELODY
POSTGRESS_DATABASE_REJECT_UNAUTHERIZE=true
DATABASE_URL=postgresql://avnadmin:YOUR_AIVEN_PASSWORD@pg-2530fc8b-ks1802276-f8c5.d.aivencloud.com:26027/ONEMELODY?sslmode=require&sslcert=credentials/postgress_ssl.pem
AWS_ACCESS_KEY=YOUR_AWS_ACCESS_KEY
AWS_SECRET_KEY=YOUR_AWS_SECRET_KEY
UPSTASH_VECTOR_REST_URL=https://enormous-impala-21954-us1-vector.upstash.io
UPSTASH_VECTOR_REST_TOKEN=YOUR_UPSTASH_TOKEN
SARVAM_API_KEY=YOUR_SARVAM_API_KEY
AWS_TEMP_BUCKET=onemelodytemp
AWS_PRODUCTION_BUCKET=onemelodyproduction
SONGS_BUCKET_BASE_FILE=songs/
PLAYLIST_BUCKET_BASE_FILE=playlists/
ARTISTS_BUCKET_BASE_FILE=artists/
QUADRANT_DB_API_KEY=YOUR_QDRANT_API_KEY
QUADRANT_DB_ENDPOINT=https://eac09ab5-a829-4158-8a83-a4ad2e38d598.us-west-1-0.aws.cloud.qdrant.io
INNGEST_EVENT_KEY=YOUR_INNGEST_EVENT_KEY
INNGEST_SIGNING_KEY=YOUR_INNGEST_SIGNING_KEY
INNGEST_DEV=0