POSTGRESS_DATABASE_HOST=your_host.aivencloud.com
POSTGRESS_DATABASE_PORT=26027
POSTGRESS_DATABASE_USER=avnadmin
POSTGRESS_DATABASE_PASSWORD=your_password
POSTGRESS_DATABASE_NAME=ONEMELODY
POSTGRESS_DATABASE_REJECT_UNAUTHERIZE=true
DATABASE_URL=postgresql://avnadmin:your_password@your_host.aivencloud.com:26027/ONEMELODY?sslmode=require&sslcert=postgress_ssl.pem
AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
UPSTASH_VECTOR_REST_URL=https://your_url.upstash.io
UPSTASH_VECTOR_REST_TOKEN=your_upstash_token
SARVAM_API_KEY=your_sarvam_api_key
AWS_TEMP_BUCKET=onemelodytemp
AWS_PRODUCTION_BUCKET=onemelodyproduction
SONGS_BUCKET_BASE_FILE=songs/
PLAYLIST_BUCKET_BASE_FILE=playlists/
ARTISTS_BUCKET_BASE_FILE=artists/
QUADRANT_DB_API_KEY=your_qdrant_api_key
QUADRANT_DB_ENDPOINT=https://your_qdrant_endpoint.aws.cloud.qdrant.io
DATABASE_CERT_PATH=postgress_ssl.pem
JWT_SECRET=your_jwt_secret
RECOMMENDATION_ENGINE_URL=http://recommendation-engine:8000
PORT=3000
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway.grafana.net/otlp
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic%20your_base64_auth
OTEL_SERVICE_NAME=your_service_name
LOKI_HOST=https://logs.grafana.net
LOKI_USERNAME=your_loki_username
LOKI_PASSWORD=your_loki_password
INNGEST_EVENT_KEY=your_inngest_event_key
INNGEST_SIGNING_KEY=your_inngest_signing_key
NODE_ENV=development